@use '../base/_colorscheme' as c
@use '../base/_responsive-sizing' as res

#Projects
    background-color: c.$secondary-color
    color: c.$white
    overflow-y: scroll
    padding: calc(res.$default-padding / 2)