@use './_colorscheme' as c

html 
    scroll-behavior: smooth
body
    overflow-x: hidden
    overflow-y: auto
    font-family: Poppins

    #root 
        min-height: 100vh
        width: 100%
        overflow-y: auto
        background-color: c.$secondary-color

    // pointer-events: none
    -webkit-user-select: none
    -moz-user-select: none
    user-select: none

